* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 750px;
    height: 350px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    width: 720px;
    height: 320px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}

.innerContainer::-webkit-scrollbar {
    display: none;
}

.photo {
    flex-shrink: 0;
    background-color: red;
    width: 230px;
    height: 320px;

}