* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    width: 800px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    width: 748px;
    height: 370px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    position: relative;
    padding: 15px;
}

.innerContainer::-webkit-scrollbar {
    display: none;
}

.photo {
    flex-shrink: 0;
    background-color: red;
    width: 230px;
    height: 320px;
    filter: grayscale(100%);
    transform: scale(1);
    transition: transform 0.5s;
    background-size: cover;
}

.photo:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.nav {
    background-color: white;
    width: 50px;
    height: 50px;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
